<a href="https://colab.research.google.com/github/minyou2675/Baekjoon_Algorithms/blob/main/%EA%B8%B0%EB%B3%B8%EC%88%98%ED%95%991.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2775번 부녀회장이 될테야

In [ ]:

def count(floor, room):
    columns = 15
    rows = floor
    num = [[0 for i in range(columns)] for j in range(0,rows+1)]

    for i in range(0,columns):
      num[0][i] = i
   

    for i in range(1,floor+1):
      for j in range(1,room+1):
        for k in range(1,j+1):
          num[i][j] += num[i-1][k]

    return int(num[floor][room])


def main():
  T_case = int(input())
  cnt = 0
  num = []
  while(cnt < T_case):
    floor = int(input())
    room = int(input())
    num.append(count(floor,room))
    cnt += 1
  print(*num[0:],sep ='\n')

main()

2
1
3
2
3
6
10

1193번 분수찾기

In [1]:

  
num = int(input())
idx = 1
columns = 1
cnt = 1



while(cnt != num):  
        if(idx % 2 == 0):
          idx += 1
          cnt += 1 
        
          while(idx != 1 and cnt != num):
         
            idx -= 1
            columns += 1
            cnt += 1
            
          
        else:
          columns += 1
          cnt += 1 
       
          while(columns != 1 and cnt != num):
          
            idx += 1
            columns -= 1
            cnt += 1
          


print(f'{idx}/{columns}')

5
2/2