<a href="https://colab.research.google.com/github/minyou2675/Baekjoon_Algorithms/blob/main/%EB%AC%B8%EC%9E%90%EC%97%B4_%EC%B6%9C%EB%A0%A5%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#2908상수
a, b = map(int, input().split(' '))
inv_a= 0
inv_b = 0
for i in range(0,3):
  inv_a += int(a%10) *10**(2-i)
  a= int(a/10)

for i in range(0,3):
  inv_b += int(b%10)* 10**(2-i)
  b= int(b/10)

if inv_a > inv_b:
  print(inv_a)
else:
  print(inv_b)

234 923
432

5622다이얼

In [35]:
s = input()
length = len(s)
eng_list ='abcdefghijklmnopqrstuvwxyz'
eng_list = eng_list.upper()
eng_list = list(eng_list)
dial_list = {}
for i in range(2,7):
  dial_list[i] = eng_list[0:3]
  del eng_list[0:3]

dial_list[7] = eng_list[0:4]
dial_list[8]= eng_list[4:7]
dial_list[9]= eng_list[7:11]



sum=0

for i in range(0,length):
 
    for j in range(2,10):
      if(s[i] in dial_list[j]):
        sum += 1+j
      else:
        sum += 0



 
print(sum)

Z
{2: ['A', 'B', 'C'], 3: ['D', 'E', 'F'], 4: ['G', 'H', 'I'], 5: ['J', 'K', 'L'], 6: ['M', 'N', 'O'], 7: ['P', 'Q', 'R', 'S'], 8: ['T', 'U', 'V'], 9: ['W', 'X', 'Y', 'Z']}
10

2941번 크로아티아 알파벳

In [43]:
s = input()
length = len(s)
cnt = 0
list = {'c=','c-','dz=','d-','lj','nj','s=','z='}

for i in range(0,length-1):
  word = s[i]+s[i+1]
  print(word)
  if(word in list):
    cnt += 1
  else:
    cnt += 1
  
   
print(cnt)

ljes=njak
lj
je
es
s=
=n
nj
ja
ak
8